 <nav class="navbar navbar-dark navbar-expand-lg bg-dark sticky-top ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Yelp-Camp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li><a class="nav-link active" href="/">Home</a>
          <li><a class="nav-link" href="/camps">Camps</a></li>
          <li><a class="nav-link" href="/camps/new">Join the network</a></li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <% if(!currentUser){%>
            <li><a class="nav-link" href="/users/login">Login</a></li>
          <li><a class="nav-link" href="/users/register">Sign Up</a></li>
          <% } else{ %>
          <li><a class="nav-link" href="/users/logout">Log Out</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>   
